a.t-menu__link-item {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

p {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

h2.t050__title.t-title.t-title_xxl {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

strong {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

.t-card__descr.t-descr.t-descr_xs {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

h2.tn-atom {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

h3.tn-atom {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

.tn-atom {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

label.t-input-title {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

button.t-submit {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

h2.t795__title.t-title.t-title_xs.t-margin_auto {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

.t-descr.t-descr_sm {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

span.t585__title.t-name.t-name_xl {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

.t585__text.t-descr.t-descr_xs {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

div {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

.t228__leftside {
    display: none !important;
}

div#rec733440617 {
    display: none;
}

.t450__logowrapper {
    display: none;
}

.t396__elem.tn-elem.tn-elem__7334405811700650846453 {
    display: none;
}

@media (min-width: 767px) {

.t396__elem.tn-elem.tn-elem__7334405961700661246635 {
    top: 255px !important;
}

.t396__elem.tn-elem.tn-elem__7334405961700659762643 {
    top: 240px !important;
}

.t396__elem.tn-elem.tn-elem__7334405811470209944682 {
    top: 405px !important;
}

.t396__elem.tn-elem.tn-elem__7334405811700646701023 {
    top: 390px !important;
}

}

@media (max-width: 767px) {

.t396__elem.tn-elem.tn-elem__7334405891703501233922 {
    top: 807px !important;
}

}

input#input_1700660656678 {
    font-size: 12px !important;
}

/* Politcs Privacy */
.t396__elem.tn-elem.tn-elem__7334405911700742521396 {
    display: none;
}

.t396__elem.tn-elem.tn-elem__7334405961700742521396 {
    display: none;
}

.t702__form-bottom-text.t-text.t-text_xs.t-align_center {
    display: none;
}

div#rec733440613 {
    display: none;
}

div#rec733440614 {
    display: none;
}

.inviztext {
    opacity: 0;
}
