@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --height: min(calc(100vh - 200px), 118vw);
  --width: calc(var(--height) / 1.3333);
  --color-blue: #213b72;
  --color-white: white;
  --color-lightgrey: #fbfaff;
}
body,
html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-white);
  font-family: "TildaSans", Arial, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
p {
  padding: 0;
  margin: 0;
}

.navigation {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 999;
  color: var(--color-blue);
  background-color: var(--color-white);
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.menu {
  margin-left: 100px;
  gap: 20px;
}
@media (max-width: 1150px) {
  .menu {
    margin-left: 20px;
  }
}
.contacts {
  margin-right: 100px;
}
@media (max-width: 1150px) {
  .contacts {
    margin-right: 20px;
  }
}
.contacts .section .text span {
  font-weight: bold;
}

main {
  margin-top: 100px;
}
.container {
  position: relative;
  overflow: hidden;
}

.container-1 {
  background-color: var(--color-white);
  color: var(--color-blue);
  height: 800px;
}
.container-1 .block {
  position: absolute;
  left: 100px;
  top: 100px;
}
.container-1 .title {
  font-size: xx-large;
  line-height: 1.5;
}
.container-1 .price {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
}
.container-1 .price .old {
  text-decoration: line-through;
  font-size: xx-large;
}
.container-1 .price .now {
  font-size: xxx-large;
  font-weight: bold;
}
.container-1 .girl-1 {
  position: absolute;
  right: -200px;
  z-index: 1;
}
.container-1 button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: 50px;
  padding: 10px 50px;
  margin-top: 20px;
}
.container-1 .circle {
  filter: blur(8px);
  border-radius: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 250px;
}
.container-1 .circle .circle-1 {
  width: 517px;
  height: 517px;
  border-width: 20px;
  border-radius: 3000px;
  opacity: 0.55;
  background-color: #213b72;
  background-position: center center;
  border-color: #213b72;
  border-style: solid;
  position: absolute;
}
.container-1 .circle .circle-2 {
  width: 690px;
  height: 690px;
  border-width: 20px;
  border-radius: 3000px;
  opacity: 0.55;
  background-position: center center;
  border-color: #213b72;
  border-style: solid;
  position: absolute;
}
.container-1 .circle .circle-3 {
  width: 833px;
  height: 833px;
  border-width: 20px;
  border-radius: 3000px;
  opacity: 0.55;
  background-position: center center;
  border-color: #213b72;
  border-style: solid;
}

.container-2 {
  background-color: var(--color-lightgrey);
  color: var(--color-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-2 .text {
  font-size: xx-large;
}
.container-2 .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px 150px;
}
.container-2 .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  text-align: center;
}
.container-2 .card .icon {
  height: 100px;
}
.container-2 .card .title {
  font-weight: bold;
  padding: 20px 0;
}

.container-3 {
  background-color: var(--color-white);
  color: var(--color-blue);
  display: flex;
  flex-wrap: nowrap;
  padding: 150px;
  gap: 50px;
}
.container-3 img {
  width: 460px;
  height: 460px;
  border-radius: 30px;
  object-fit: cover;
  object-position: -66px;
}
.container-3 .text {
  font-size: large;
}
.container-3 .description-1 span,
.container-3 .description-2 span {
  font-weight: bold;
  line-height: 2;
}
.container-3 ul {
  list-style: disc;
  flex-wrap: wrap;
  line-height: 2;
}

.container-4 {
}

.container-5 {
  background-color: var(--color-white);
  color: var(--color-blue);
  height: 800px;
}
.container-5 .block {
  position: absolute;
  right: 150px;
}
.container-5 .title {
  font-size: xx-large;
}
.container-5 ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}
.container-5 ul .num {
  position: absolute;
  opacity: 0.3;
  font-size: 70px;
  margin: 0;
}
.container-5 ul .text {
  font-weight: bold;
  padding: 30px 40px 10px;
}
.container-5 ul .description {
  padding-left: 40px;
}
.container-5 .girl-1 {
  width: 665px;
  z-index: 1;
}
.container-5 .circle {
  filter: blur(8px);
  border-radius: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -350px;
  left: -270px;
  opacity: 0.2;
}
.container-5 .circle .circle-1 {
  width: 517px;
  height: 517px;
  border-width: 20px;
  border-radius: 3000px;
  opacity: 0.55;
  background-color: #213b72;
  background-position: center center;
  border-color: #213b72;
  border-style: solid;
  position: absolute;
}
.container-5 .circle .circle-2 {
  width: 690px;
  height: 690px;
  border-width: 20px;
  border-radius: 3000px;
  opacity: 0.55;
  background-position: center center;
  border-color: #213b72;
  border-style: solid;
  position: absolute;
}
.container-5 .circle .circle-3 {
  width: 833px;
  height: 833px;
  border-width: 20px;
  border-radius: 3000px;
  opacity: 0.55;
  background-position: center center;
  border-color: #213b72;
  border-style: solid;
}

.container-6 #gallery {
  padding: 100px 0;
}
.container-6 .photo {
  height: 400px;
  padding: 20px;
}

.container-7 {
}

.container-8 {
  background-color: var(--color-white);
  color: var(--color-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-8 .title {
  font-size: xx-large;
}
.container-8 #reviewss {
  padding-bottom: 100px;
  width: 100%;
}
.container-8 .photo {
  height: 350px;
  padding: 0 150px;
}

.container-9 {
  background-color: var(--color-lightgrey);
  color: var(--color-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}
.container-9 .title {
  width: 700px;
  text-align: center;
  font-size: xx-large;
}
.container-9 .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 50px 150px;
}
.container-9 .card {
  display: flex;
  flex-wrap: nowrap;
}
.container-9 img {
  width: 30px;
  height: 30px;
  padding-right: 30px;
}
.container-9 .text {
  font-weight: bold;
  margin-bottom: 30px;
}
.container-9 .description {
  line-height: 2;
}

.container-10 {
  background-color: var(--color-white);
  color: var(--color-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}
.container-10 .title {
  width: 700px;
  text-align: center;
  font-size: xx-large;
}
.container-10 .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 50px 150px;
}
.container-10 .card {
  display: flex;
  flex-wrap: nowrap;
}
.container-10 .text {
  font-weight: bold;
  margin-bottom: 30px;
}
.container-10 .description {
  line-height: 2;
}

.container-11 {
  background-color: var(--color-lightgrey);
  color: var(--color-blue);
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
  padding: 50px 150px;
  align-items: center;
}
.container-11 .block {
  width: 600px;
  line-height: 2;
}
.container-11 .title {
  font-size: xx-large;
}
.container-11 .description {
  padding-bottom: 20px;
}
.container-11 .text,
.container-11 .moscow span,
.container-11 .piter span {
  font-weight: bold;
}
.container-11 ul {
  flex-wrap: wrap;
  list-style: disc;
}
.container-11 li {
  margin-left: 15px;
}
.container-11 .address {
  padding-bottom: 20px;
}
.container-11 .phone {
  padding-bottom: 20px;
}
.container-11 .yandex-map {
  border-radius: 30px;
}

.amoforms_iframe {
  max-width: 100% !important;
}
