:root {
  --height: min(calc(100vh - 200px), 118vw);
  --width: calc(var(--height) / 1.3333);
  --color-blue: #213b72;
  --color-white: white;
  --color-lightgrey: #fbfaff;
}
body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  color: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
